<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
	<h1>타임리프 두번째 연습 </h1>
	<ul>
	 	<li th:each="dto : ${list}"> [[${dto}]]  </li>
	</ul>
	<hr>
	<ul>
	 	<li th:each="dto, status: ${list}" >[[${status.index}]] [[${dto}]]  </li>
	 	<!--status: 카운터?  -->
	</ul>
	<hr>
	<ul>
		<li th:each="dto, status: ${list}" >
			<span th:if="${dto.sno % 5 == 0}" th:text="${'-----'+dto.sno}"></span>
			<!-- 5로나눠진 인덱스 값을 ----로 표현	-->
			<span th:unless="${dto.sno % 5 == 0}" th:text="${'-'+dto.first}"></span>
			<!-- unless아니라면-->
		</li>
	</ul>
	<hr>
	<ul>
		<th:block th:each="dto : ${list}">
			<li th:text="${dto.sno % 5 == 0}? ${dto.sno}:${dto.first}"
				th:class="${dto.sno % 5 == 0}? 'target'">
			</li>
				
		</th:block>
	</ul>
</body>
	<style>
	 .target{background-color: green;}
	</style>
</html>
